In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
data.shape  # this will show num rows and columns

(150, 6)

In [7]:
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [9]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
# In this data set 
# `Species` will take as 'Y' 
# Other columns will take as 'X'

x = data.iloc[:, 1:5]  # .iloc -> Index Location (1-5 columns will take)
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [13]:
y = data.iloc[:, -1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [14]:
# Feature scalling for X values
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [15]:
x = scaler.fit_transform(x)
x[0:5]

array([[-0.90068117,  1.03205722, -1.3412724 , -1.31297673],
       [-1.14301691, -0.1249576 , -1.3412724 , -1.31297673],
       [-1.38535265,  0.33784833, -1.39813811, -1.31297673],
       [-1.50652052,  0.10644536, -1.2844067 , -1.31297673],
       [-1.02184904,  1.26346019, -1.3412724 , -1.31297673]])

In [16]:
# Now get Trian and Test data sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [18]:
x_train.shape

(120, 4)

In [19]:
x_test.shape

(30, 4)

In [23]:
# Train model using KNN algothem
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=1)
model.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [24]:
pred = model.predict(x_test)
pred[0:5]

array(['Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor'], dtype=object)

In [25]:
y_test[0:5]

7         Iris-setosa
32        Iris-setosa
57    Iris-versicolor
34        Iris-setosa
75    Iris-versicolor
Name: Species, dtype: object

In [29]:
# Check the model's accuracy as a score
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)
"""
    This will give a value between 0 - 1
    0 mean 0% good
    0.5 mean 50% good
    1 mean 100% good
    like this result
"""
accuracy

1.0

In [31]:
"""
    Okay, Above we get the `K` value as 1
    `model = KNeighborsClassifier(n_neighbors=1)`
    
    But we need to get a Good value for the `K`
    To get a good value for `K` we need to check with diff diff values by
    doing testing
"""

correct_sums: dict = {}
for i in range(1, 20):
    model = KNeighborsClassifier(n_neighbors=i)
    model.fit(x_train, y_train)
    pred = model.predict(x_test)
    correct = np.sum(pred == y_test)
    correct_sums[i] = correct

In [32]:
# Now check the results
correct_sums

{1: 30,
 2: 30,
 3: 30,
 4: 29,
 5: 30,
 6: 30,
 7: 30,
 8: 29,
 9: 29,
 10: 29,
 11: 29,
 12: 29,
 13: 29,
 14: 29,
 15: 29,
 16: 29,
 17: 29,
 18: 29,
 19: 29}